body { 
	background-image: url("assets/images/background.jpg") ;
	background-size: 100% ;
	background-repeat: no-repeat;
	color: black;

 }

 
.btn {
	margin-top: .2%;
	margin-left: 1%;
	cursor: pointer;
}

form {

	margin-left: 5%;
	margin-top: .5%;
}

img {

	height: 150px;
	width: 150px;
}

.container1 {

	background: rgba(255, 255, 255, .9);
	padding: 20px;
	margin: 2em;
}

.container2 {

	background: rgba(255, 255, 255, .9);
	padding-top: 5%;
    padding-left: 3%;
	
}

ul {

	display: inline-flex;

}

li {

	margin: 3px;
}



 .footer { 
 	background-color: rgba(255, 255, 255, .5);
 	text-align: center;

  }

